node_modules/
dist/
target/
pkg/
.DS_Store
*.log
.env
.env.*
*.wasm
!packages/extension/public/*.wasm
.vite/
.turbo/
*.tsbuildinfo
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
